
<br><br>

<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%=@gossip.title%></h5>
    <p class="card-text"><%=@gossip.content%></p>
  </div>
    <div class="card-header">
      Created at: <%=@gossip.created_at%> by <%=@gossip.user.first_name%> <%=@gossip.user.last_name%> 
  </div>
</div>

<br><br>

<a href="/user/<%=@gossip.user.id%> " class="btn btn-primary">Check the Writer's Profile</a>

<a style="margin:20px;" href="/" class="btn btn-primary">Home Page</a>