
<h1><%= @user.first_name %>'s Profile </h1>
<br>
<h3>Full name: <%= @user.first_name %> <%= @user.last_name %> </h3>
<br>
<h3>Member Since: <%= @user.created_at %> </h3> 
<br>
<h3>Member Number: <%= @user.id %> </h3>
<br>
<h3>City: <%= @user.city %> </h3>
<br>
<a href="/" class="btn btn-primary">Home Page</a>

