<div class="container" style="background-color:#EEE;">
<br><br>

<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%=@gossip.title%></h5>
    <p class="card-text"><%=@gossip.content%></p>
  </div>
    <div class="card-header">
      Created at: <%=@gossip.created_at%> by <%=@gossip.user.first_name%> <%=@gossip.user.last_name%> From <%=@gossip.user.city%>
  </div>
</div>


<a href="/user/<%=@gossip.user.id%> " class="btn btn-primary">Check the Writer's Profile</a>

<a style="margin:20px;" href="/" class="btn btn-primary">Home Page</a>
<br>
<br>
<h2> <%= @gossip.comentarios.count %> Comments </h2>
  

<% @gossip.comentarios.each do |comentario| %>
<br>
  <div class="card" style="width: 20rem;">
    <div class="card-body">
      <p class="card-text"><%= comentario.texto %></p>
    </div>
  </div>
<% end %>

  <h3> Add a comment </h3>
  <br>
  <%= form_for ([@gossip, @gossip.comentarios.build]) do |f| %>
  <p>
    <%= f.label :texto %>
    <%= f.text_area :texto%>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>


</div>
