<div class="container" style="background-color: #eee;">
  <div class="card" style="border-radius: 11px;">
    <div class="card-body">
      <h5 class="card-title"><%=@gossip.title%></h5>
      <p class="card-text"><%=@gossip.content%></p>
    </div>
    <div class="card-header">
      Created <%= time_ago_in_words(@gossip.created_at) %> ago by <%=@gossip.user.first_name%> <%=@gossip.user.last_name%> From
      <%=@gossip.user.city%>
    </div>
  </div>

  <a href="/users/<%=@gossip.user.id%> " class="btn btn-primary">Check the Writer's Profile</a>

  <a style="margin: 20px;" href="/" class="btn btn-primary">Home Page</a>

  <p><%= @gossip.likes.count %> <%= (@gossip.likes.count) == 1 ? 'Like' : 'Likes'%></p>
  <% if session[:user_id] %>
    <% pre_like = @gossip.likes.find { |like| like.user_id == current_user.id} %>
    <% if pre_like %>
      <%= button_to 'Unlike', gossip_like_path(@gossip, pre_like),class:"btn btn-warning", method: :delete %>
    <% else %>
      <%= button_to 'Like', gossip_likes_path(@gossip),class:"btn btn-info", method: :post %>
    <% end %>
  <% end %>
  <h2 class="my-3"><%= @gossip.comments.count %> Comments</h2>

  <% if !session[:user_id] %>
    <br>
    <strong><p>Log In to Check Comments and Comment! </p></strong>
  <% end %>

  <% if session[:user_id] %>
    <% @gossip.comments.each do |comment| %>
    <p><%= comment.name%> says:</p>
    <div class="card" style="width: 30rem; border-radius: 7px;">
      <div class="card-body">
        <p class="card-text"><%= comment.texto %></p>
      </div>
    </div>
    <% end %>

    <div class="card mt-3">
      <div class="card-body">
        <h3>Add a comment</h3>
        <%= form_for ([@gossip, @gossip.comments.build]) do |f| %>
        <p>
          <%= f.text_area :texto, class: "form-control mb-3" %>
        </p>
        <p>
          <%= f.submit 'Create comment', class: "btn btn-primary" %>
        </p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
